<!--begin::List Widget 4-->
<div class="card card-custom card-stretch gutter-b captured_photos" style="background-color: #eef0f8;">
  <!--begin::Header-->
  <div class="card-header captured_photos_header" style="height: 30px;">
    <h3 class="card-title font-weight-bolder text-dark">Pages</h3>
  </div>
  <!--end::Header-->
  <!--begin::Body-->
  <div class="card-body pt-2 pages_body">
    <!--begin::Item-->
    <div class="d-flex align-items-center mb-10" *ngFor="let photo of capturedPhotos">
      <!--begin::Bullet-->
      <!-- <span class="bullet bullet-bar bg-success align-self-stretch"></span> -->
      <!--end::Bullet-->
      <!--begin::Text-->
      <div class="d-flex flex-column ">
        <img [src]="photo.imageAsDataUrl" 
        class="capruted_photo_sheet"
        [width]="300"
        [height]="300"
        alt="image">
        <!-- <a href="#" class="text-dark-75 text-hover-primary font-weight-bold font-size-lg mb-1">Create FireStone Logo</a> -->
        <!-- <span class="text-muted font-weight-bold">Due in 2 Days</span> -->
      </div>
      <!--end::Text-->
    </div>
    <!--end:Item-->
  </div>
  <!--end::Body-->
</div>
<!--end:List Widget 4-->