<!--begin::List Widget 4-->
<div class="card card-custom card-stretch gutter-b captured_photos">
  <!--begin::Header-->
  <div class="card-header captured_photos_header">
    <h3 class="card-title font-weight-bolder text-dark">Pages</h3>
    <div class="card-toolbar">
      <div class="dropdown dropdown-inline">
        <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="ki ki-bold-more-ver"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
          <!--begin::Naviigation-->
          <ul class="navi">
            <li class="navi-header font-weight-bold py-5">
              <span class="font-size-lg">Add New:</span>
              <i class="flaticon2-information icon-md text-muted" data-toggle="tooltip" data-placement="right" title="" data-original-title="Click to learn more..."></i>
            </li>
            <li class="navi-separator mb-3 opacity-70"></li>
            <li class="navi-item">
              <a href="#" class="navi-link">
                <span class="navi-icon">
                  <i class="flaticon2-shopping-cart-1"></i>
                </span>
                <span class="navi-text">Order</span>
              </a>
            </li>
          </ul>
          <!--end::Naviigation-->
        </div>
      </div>
    </div>
  </div>
  <!--end::Header-->
  <!--begin::Body-->
  <div class="card-body pt-2">
    <!--begin::Item-->
    <div class="d-flex align-items-center mb-10" *ngFor="let photo of capturedPhotos">
      <!--begin::Bullet-->
      <!-- <span class="bullet bullet-bar bg-success align-self-stretch"></span> -->
      <!--end::Bullet-->
      <!--begin::Text-->
      <div class="d-flex flex-column ">
        <img [src]="photo.imageAsDataUrl" 
        class="capruted_photo_sheet"
        [width]="300"
        [height]="300"
        alt="image">
        <!-- <a href="#" class="text-dark-75 text-hover-primary font-weight-bold font-size-lg mb-1">Create FireStone Logo</a> -->
        <!-- <span class="text-muted font-weight-bold">Due in 2 Days</span> -->
      </div>
      <!--end::Text-->
    </div>
    <!--end:Item-->
  </div>
  <!--end::Body-->
</div>
<!--end:List Widget 4-->