div.captured_photos{
    position: fixed;
    height: 100%;
    width: 45%;
    overflow: scroll;
}
div.captured_photos_header{
    position: fixed;    
    width: 43%;
    background-color: white !important;
}
.capruted_photo_sheet{
    margin: auto;
}
.pages_body{
    position: absolute;
    top: 70px;
    z-index: -1;
}