<!--begin::Card-->
<div class="card card-custom main_content">
    <!-- <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h5>Search:
            <span class="d-block text-muted pt-2 font-size-sm">Search for exams</span>
            </h5> 
        </div>
        <div class="card-body">
        </div>
        <div class="card-toolbar">
        </div>
  </div> -->
           <!--begin: Search Form-->
       <form method="POST" enctype="multipart/form-data" class="search_form">
           <div class="mb-7">
               <div class="row align-items-center">
                   <div class="col-lg-9 col-xl-8">
                       <div class="row align-items-center">
                           <div class="col-md-4 my-2 my-md-0">
                                <div class="d-flex align-items-center">
                                    <label class="mr-2 mb-0 d-none d-md-block">Search:</label>
                                    <div class="input-icon">
                                        <input type="text" class="form-control" placeholder="Search..." id="kt_datatable_search_query_exams" />
                                        <span>
                                            <i class="flaticon2-search-1 text-muted"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                           <div class="col-md-3 my-2 my-md-0">
                               <div class="d-flex align-items-center">
                                   <label class="mr-3 mb-0 d-none d-md-block">Status:</label>
                                   <select class="form-control" id="kt_datatable_search_status_exams">
                                       <option value="">All</option>
                                       <option value="1">Completed</option>
                                       <option value="2">Draft</option>
                                   </select>
                               </div>
                           </div>
                           <div class="col-md-3 my-2 my-md-0">
                               <div class="d-flex align-items-center">
                                   <label class="mr-3 mb-0 d-none d-md-block">Type:</label>
                                   <select class="form-control" id="kt_datatable_search_type_exams">
                                       <option value="">All</option>
                                       <option value="1">Mid Exam</option>
                                       <option value="2">Final Exam</option>
                                       <option value="3">Other</option>
                                   </select>
                               </div>
                           </div>
                           <!-- <div class="col-md-4 my-2 my-md-0">
                            <div class="d-flex align-items-center">
                                <label class="mr-3 mb-0 d-none d-md-block">Type:</label>
                                <div class="dropdown bootstrap-select form-control">
                                <select class="form-control" id="kt_datatable_search_type_examsss" tabindex="-98">
                                    <option value="">All</option>
                                    <option value="1">Mid Exam</option>
                                    <option value="2">Final Exam</option>
                                    <option value="3">Other</option>
                                </select>
                                <button type="button" class="btn dropdown-toggle btn-light bs-placeholder" data-toggle="dropdown" role="combobox" aria-owns="bs-select-2" aria-haspopup="listbox" aria-expanded="false" data-id="kt_datatable_search_type" title="All"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">All</div></div> </div></button><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-2" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
                            </div>
                            </div> -->
                       </div>
                   </div>
                   <div class="col-lg-2 col-xl-4 mt-5 mt-lg-0" style="margin-left:-100px;">
                       <button class="btn btn-light-primary px-6 font-weight-bold">
                           Search
                       </button>
                   </div>
                   <a routerLink="/create-exam" class="btn btn-primary font-weight-bolder" style="position: absolute; right: 40px;">
                        <span class="svg-icon svg-icon-md">
                            <!-- <i class="menu-icon flaticon-folder-1"></i> -->
                            <i class="menu-icon flaticon2-plus-1"></i>
                        </span>
                        Create New Exam
                    </a>
               </div>
           </div>
       </form>
           <!--end::Search Form-->
   

<!--begin: Datatable-->
<table class="datatable datatable-bordered datatable-head-custom main_content_table" id="kt_datatable_exams">
   <thead class="table_header">
       <tr>
           <th title="{{ examTable.no }}" style="width: 20px !important;"> {{ examTable.no}} </th>
           <th title="{{ examTable.name }}"> {{ examTable.name }} </th>
           <th title="{{ examTable.id }}"> {{ examTable.id }} </th>
           <th title="{{ examTable.type }}"> {{ examTable.type }} </th>
           <th title="{{ examTable.date }}"> {{ examTable.date }} </th>
           <th title="{{ examTable.course }}"> {{ examTable.course }} </th>
           <th title="{{ examTable.code }}"> {{ examTable.code }} </th>
           <th title="{{ examTable.status }}"> {{ examTable.status }} </th>
           <th title="{{ examTable.description }}"> {{ examTable.description }} </th>
           <th>Actions</th>
       </tr>
   </thead>
   <tbody class="table_body">
       <tr>
           <td style="width: 20px !important;">1</td>
           <td>1</td>
           <td>1</td>
           <td>2</td>
           <td>1</td>
           <td>1</td>
           <td>1</td>
           <td>1</td>
           <td>1</td>
           <td>
            <i class="menu-icon flaticon2-pen icon_link edit_exam"></i>
            <i class="menu-icon flaticon-delete icon_link delete_exam"></i>
            <i class="menu-icon flaticon2-paper icon_link generate_ans_sheet"></i>
           </td>
       </tr>
   </tbody>
</table>
<!--end: Datatable-->

</div>
<!--end::Card-->