<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card card-custom card-sticky" id="kt_page_sticky_card">
            
                <!--begin::Form-->
                <!-- <form class="form" id="kt_form" (ngSubmit)="onSubmit(examForm)" #examForm="ngForm"> -->

            <div class="card-header" style="z-index: 90; top: 54px; left: 15px; right: 15px;">
                <div class="card-title">
                    <h3 class="card-label">Create New Exam
                    <i class="mr-2"></i>
                    <!-- <small class="">try to scroll the page</small> -->
                </h3>
                </div>
                <div class="card-toolbar">
                    <a routerLink="/exams" class="btn btn-light-primary font-weight-bolder mr-2">
                    <i class="ki ki-long-arrow-back icon-sm"></i>Back</a>
                    <div class="btn-group">
                        <button type="button" (click)="sendToElectron()" class="btn btn-primary font-weight-bolder">
                        <i class="ki ki-check icon-sm"></i>Save Exam</button>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                            <ul class="nav nav-hover flex-column">
                                <li class="nav-item">
                                    <a href="#" class="nav-link" (click)="sendToElectron()">
                                        <i class="nav-icon flaticon2-reload"></i>
                                        <span class="nav-text">Save &amp; continue</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon flaticon2-add-1"></i>
                                        <span class="nav-text">Save &amp; add new</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon flaticon2-power"></i>
                                        <span class="nav-text">Save &amp; exit</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">



                <!-- <div class="card-body">
                    
                </div> -->



                <!--begin::Form-->
                <!-- <form class="form" id="kt_form" (ngSubmit)="onSubmit()"> -->
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <label>Exam Name:</label>
                            <input type="text" class="form-control" placeholder="Enter exam name"
                            name="examname" [(ngModel)]="examName">
                            <!-- <span class="form-text text-muted">Please enter an exam name</span> -->
                        </div>
                        
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="exampleSelect1">Exam Type</label>
                                <select class="form-control" id="exampleSelect1"
                                name="examtype" [(ngModel)]="examType">
                                    <option value=""></option>
                                    <option value="mid">Mid Exam</option>
                                    <option value="final">Final Exam</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-xl-1"></div>
                        <div class="col-xl-8">
                                <h4 class="text-dark font-weight-bold mb-10">Exam Content</h4>
                        </div>
                    </div> -->

                    <!-- Begin: Part Title -->
                    <div *ngIf="tf"  class="row">
                        <div class="col-xl-1"></div>
                        <div class="col-xl-8" (dblclick)="removeSection('tf')">
                                <h4 class="text-dark font-weight-bold mb-10 section_header">Part {{ resolveSection('tf') }}: True or False</h4>
                        </div>
                    </div>
                    <!-- End: Part Title -->

                    <!-- Begin: True or False -->
                    <div *ngIf="tf" class="row">
                        <div class="col-xl-10">
                            <div *ngFor="let q of tfqn; let qn = index;">
                            <div class="row question">
                                <div class="col-sm-1">
                                    <span class="question_no" (dblclick)="removeQuestion('tf', qn)"><label>Qn {{qn+1}}.</label></span>
                                    <!-- <span class="question_cross"><i class="flaticon2-cross"></i></span> -->
                                </div>
                                <div class="col-lg-9">
                                    <textarea class="form-control form-control-solid question_text true_false" id="kt_autosize_1" rows="2"
                                    name="tf_qn_{{qn+1}}" [(ngModel)]="tfQn[qn]"></textarea>
                                </div>
                                <div class="col-sm-1">
                                    <label>Answer:</label>
                                </div>
                                <div class="col-sm-1">
                                    <label class="radio radio-solid">
                                    <input type="radio" value="true"
                                    name="tf_ans_{{qn+1}}" [(ngModel)]="tfAns[qn]">True
                                    <span></span></label>
                                    <label class="radio radio-solid">
                                    <input type="radio" value="false"
                                    name="tf_ans_{{qn+1}}" [(ngModel)]="tfAns[qn]">False
                                    <span></span></label>
                                </div>
                                <!-- <span class="form-text text-muted">Please select user group</span> -->
                            </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    <a class="btn btn-light-success mr-3" (click)="addQuestion('tf')">
                                        <i class="flaticon2-plus"></i> Add Question
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End: True or False -->

                    <!-- <div class="part_divider"></div> -->

                    <!-- Begin: Part Title -->
                    <div *ngIf="choice" class="row part_divider">
                        <div class="col-xl-1"></div>
                        <div class="col-xl-8" (dblclick)="removeSection('choice')">
                                <h4 class="text-dark font-weight-bold mb-10 section_header">Part {{ resolveSection('choice') }}: Choice</h4>
                        </div>
                    </div>
                    <!-- End: Part Title -->

                    <!-- Begin: Choice -->
                    <div *ngIf="choice" class="row">
                        <div class="col-xl-10">
                            <div *ngFor="let q of choiceqn; let qn = index">
                            <div class="row question">
                                <!-- <div class="col-sm-1"></div> -->
                                <div class="col-sm-1">
                                    <label class="question_no" (dblclick)="removeQuestion('choice', qn)">Qn {{qn+1}}.</label>
                                </div>
                                <div class="col-lg-9">
                                    <textarea class="form-control form-control-solid question_text true_false" id="kt_autosize_1" rows="2"
                                    name="choice_qn_{{qn+1}}" [(ngModel)]="choiceQn[qn]"></textarea>
                                </div>
                                <div class="col-sm-1">
                                    <label>Answer:</label>
                                </div>
                                <div class="col-sm-1">
                                    <select class="form-control form-control-solid" style="width: 70px;"
                                    name="choice_ans_{{qn+1}}" [(ngModel)]="choiceAns[qn]">
                                        <option value=""></option>
                                        <option *ngFor="let c of choiceopt[qn]; let ch = index" value="{{ toChoiceLabel(ch) }}">{{ toChoiceLabel(ch) }}</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div *ngFor="let c of choiceopt[qn]; let ch = index" class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-xs-1">
                                    <label (dblclick)="removeChoiceOption(ch, qn)" class="choice_label">{{ toChoiceLabel(ch) }}</label>
                                </div>
                                <div class="col-lg-8">
                                    <input class="form-control form-control-solid" type="text"
                                    name="choice_qn_{{qn+1}}_opt_1" [(ngModel)]="choiceOpt[qn][ch]">
                                </div>
                                <div *ngIf="ch===choiceopt[qn].length-1" class="col-lg-2">
                                    <a class="btn btn-icon btn-light-primary btn-circle btn-xs mr-1" (click)="addChoiceOption(ch, qn)">
                                        <i class="flaticon2-plus"></i>
                                    </a>
                                </div>
                                <!-- <span class="form-text text-muted">Please select user group</span> -->
                            </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    <a class="btn btn-light-success mr-3" (click)="addQuestion('choice')">
                                        <i class="flaticon2-plus"></i> Add Question
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End: Choice -->

                    <!-- Begin: Part Title -->
                    <div *ngIf="fill" class="row part_divider">
                        <div class="col-xl-1"></div>
                        <div class="col-xl-8" (dblclick)="removeSection('fill')">
                                <h4 class="text-dark font-weight-bold mb-10 section_header">Part {{ resolveSection('fill') }}: Fill in the blank spaces</h4>
                        </div>
                    </div>
                    <!-- End: Part Title -->

                    <!-- Begin: Blank Space -->
                    <div *ngIf="fill" class="row">
                        <div class="col-xl-10">
                            <div *ngFor="let q of fillqn; let qn = index">
                            <div class="row question">
                                <!-- <div class="col-sm-1"></div> -->
                                <div class="col-sm-1">
                                    <label class="question_no" (dblclick)="removeQuestion('fill', qn)">Qn {{qn+1}}.</label>
                                </div>
                                <div class="col-lg-10">
                                    <textarea class="form-control form-control-solid question_text true_false" id="kt_autosize_1" rows="2"
                                    name="fill_qn_{{qn+1}}" [(ngModel)]="fillQn[qn]"></textarea>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <!-- <div class="col-sm-1"></div> -->
                                <div class="col-sm-1">
                                    <label>Answer:</label>
                                </div>
                                <div class="col-lg-6">
                                    <input class="form-control form-control-solid" type="text"
                                    name="fill_ans_{{qn+1}}" [(ngModel)]="fillAns[qn]">
                                </div>
                                <!-- <span class="form-text text-muted">Please select user group</span> -->
                            </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    <a class="btn btn-light-success mr-3" (click)="addQuestion('fill')">
                                        <i class="flaticon2-plus"></i> Add Question
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End: Blank Space -->

                    <!-- Begin: Part Title -->
                    <div *ngIf="define" class="row part_divider">
                        <div class="col-xl-1"></div>
                        <div class="col-xl-8" (dblclick)="removeSection('define')">
                                <h4 class="text-dark font-weight-bold mb-10 section_header">Part {{ resolveSection('define') }}: Define the following terms</h4>
                        </div>
                    </div>
                    <!-- End: Part Title -->

                    <!-- Begin: Define -->
                    <div *ngIf="define" class="row">
                        <div class="col-xl-10">
                            <div *ngFor="let q of defineqn; let qn = index">
                            <div class="row question">
                                <!-- <div class="col-sm-1"></div> -->
                                <div class="col-sm-1">
                                    <label class="question_no" (dblclick)="removeQuestion('define', qn)">Qn {{qn+1}}.</label>
                                </div>
                                <div class="col-lg-6">
                                    <input class="form-control form-control-solid" type="text"
                                    name="define_qn_{{qn+1}}" [(ngModel)]="defineQn[qn]">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <!-- <div class="col-sm-1"></div> -->
                                <div class="col-sm-1">
                                    <label>Answer:</label>
                                </div>
                                <div class="col-lg-10">
                                    <textarea class="form-control form-control-solid question_text true_false" id="kt_autosize_1" rows="2"
                                    name="define_ans_{{qn+1}}" [(ngModel)]="defineAns[qn]"></textarea>
                                </div>
                                <!-- <span class="form-text text-muted">Please select user group</span> -->
                            </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    <a class="btn btn-light-success mr-3" (click)="addQuestion('define')">
                                        <i class="flaticon2-plus"></i> Add Question
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End: Define -->

                     <!-- Begin: Part Title -->
                     <div *ngIf="shortans" class="row part_divider">
                        <div class="col-xl-1"></div>
                        <div class="col-xl-8" (dblclick)="removeSection('shortans')">
                                <h4 class="text-dark font-weight-bold mb-10 section_header">Part {{ resolveSection('shortans') }}: Short Answer</h4>
                        </div>
                    </div>
                    <!-- End: Part Title -->

                    <!-- Begin: Short Answer -->
                    <div *ngIf="shortans" class="row">
                        <div class="col-xl-10">
                            <div *ngFor="let q of shortansqn; let qn = index">
                            <div class="row question">
                                <!-- <div class="col-sm-1"></div> -->
                                <div class="col-sm-1">
                                    <label class="question_no" (dblclick)="removeQuestion('shortans', qn)">Qn {{qn+1}}.</label>
                                </div>
                                <div class="col-lg-6">
                                    <textarea class="form-control form-control-solid question_text true_false" id="kt_autosize_1" rows="2"
                                    name="shortans_qn_{{qn+1}}" [(ngModel)]="shortansQn[qn]"></textarea>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <!-- <div class="col-sm-1"></div> -->
                                <div class="col-sm-1">
                                    <label>Answer:</label>
                                </div>
                                <div class="col-lg-10">
                                    <textarea class="form-control form-control-solid question_text true_false" id="kt_autosize_1" rows="2"
                                    name="shortans_ans_{{qn+1}}" [(ngModel)]="shortansAns[qn]"></textarea>
                                </div>
                                <!-- <span class="form-text text-muted">Please select user group</span> -->
                            </div>
                            </div>
                            <br>
                            <!-- <div class="row">
                                <div class="col-sm-1">
                                    <label>Accuracy:</label>
                                </div>
                                <div class="col-lg-10">
                                    <div class="col-lg-6 col-md-12 col-sm-12">
                                        <div class="row align-items-center">
                                            <div class="col-8">
                                                <div id="kt_nouislider_1" class="nouislider-drag-danger noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr"><div class="noUi-base"><div class="noUi-connects"></div><div class="noUi-origin" style="transform: translate(-400%, 0px); z-index: 4;"><div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="10.0" aria-valuenow="6.0" aria-valuetext="6"><div class="noUi-touch-area"></div></div></div></div></div>
                                            </div>
                                            <div class="col-4">
                                                <input type="text" class="form-control" id="kt_nouislider_1_input" placeholder="Quantity">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    <a class="btn btn-light-success mr-3" (click)="addQuestion('shortans')">
                                        <i class="flaticon2-plus"></i> Add Question
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End: Short Answer -->

                    <!-- Begin: Add Exam Section -->
                    <div class="form-group row add_section">
                        <div class="dropdown">
                            <button class="btn btn-primary font-weight-bold font-size-h6 px-10 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add Exam Section
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a *ngIf="!tf" class="dropdown-item" (click)="addSection('tf')">True or False</a>
                                <a *ngIf="!choice" class="dropdown-item" (click)="addSection('choice')">Choice</a>
                                <a *ngIf="!fill" class="dropdown-item" (click)="addSection('fill')">Blank Space</a>
                                <a *ngIf="!define" class="dropdown-item" (click)="addSection('define')">Definition</a>
                                <a *ngIf="!shortans" class="dropdown-item" (click)="addSection('shortans')">Short Answer</a>
                            </div>
                        </div>
                    </div>
                    <!-- End: Add Exam Section -->

                    <!-- <div class="checkbox-single">
                        <label class="checkbox">
                        <input type="checkbox"> Sample Checkbox
                        <span></span></label>
                    </div> -->
                    
            </div>
            <!-- </form> -->
            <!--end::Form-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->
</div>
